/* Clearing floats without extra markup
   Based on The New Clearfix Method by Jeff Starr
   [http://perishablepress.com/press/2009/12/06/new-clearfix-hack/] */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
/* IE6 */
* html .clearfix {
	zoom: 1;
}
/* IE7 */
*:first-child+html .clearfix {
	zoom: 1;
}
/* Container */
.align-center {
	margin: 0 auto;
}
.nolist {
	list-style: none;
	padding: 0;
	margin: 0;
}
.nodisplay {
	display: none;
}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
.copyrights p {
	margin-bottom: 0;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
/* Image Replace */
.image-replace {
	font-size: 1px;
	line-height: 0;
	text-indent: -1000000px;
}
input.button, span.button {
	margin-right: 5px;
}
input.button, span.button a {
	border-width: 1px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	line-height: 27px;
	margin-right: 5px;
	padding: 5px 10px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
/* Image's treatment */
.img-avatar {
	float: left;
	margin: 4px 10px 10px 0;
	width: 140px;
}
.img-avatar-right {
	float: right;
	margin: 4px 0 10px 10px;
}
.img-border {
	border: 1px solid #999;
	border-radius: 3px;
	padding: 4px;
}
.img-circle {
	border: 5px solid #eee;
	border-radius: 500px;
	padding: 0;
}
/* Site Heading */
hgroup.site-heading h1, hgroup.site-heading h1 a {
	color: #000;
	font-size: 90px;
	font-weight: bold;
	letter-spacing: -0.01em;
	line-height: 99px;
	margin-bottom: 9px;
}
hgroup.site-heading h1 a.image-replace {
	font-size: 1px;
	line-height: 1em;
}
hgroup.site-heading h1 a:hover {
	border-bottom: 0;
	color: #006699;
	text-decoration: none;
}
hgroup.site-heading h2 {
	font-size: 27px;
	line-height: 36px;
	margin-bottom: 9px;
}
hgroup.site-heading h1, hgroup.site-heading h2 {
}
/* Default font-size, font-family
-------------------------------------------------------------- */
body {
	color: #333;
	font-size: 14px;
	/* font-family: "lucida grande", tahoma, verdana, arial, sans-serif, serif; */
	font-family: 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18px;/* 	word-spacing: 0.05em; */
}
a {
	color: #333;
	text-decoration: none;
}
input, button, option, textarea, label, legend {
	font-family: 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
}
/* Heading */
h1, h2, h3, h4, h5, h6 {
	color: #000;
	font-weight: normal;
	margin: 0;
	margin-bottom: 18px;
	text-rendering: optimizelegibility;
}
ul li p, ol li p, ul li ol, ul li ul, ol li ol, ol li ul, p blockquote, pre p, p code, blockquote pre, blockquote code, ol li pre, ol li code, ul li pre, ul li code, ol li label, ul li label, p abbr, p acronym {
	font-size: 13px;
} /* acronym has been removed on HTML5 */
ul li ol, ul li ul, ol li ol, ol li ul {
	margin: 9px 27px 0;
}
ul li ul, ol li ul {
	list-style-type: disc;
}
ul, ol {
}
ul.paragraph li, ol.paragraph li, ul li p, ol li p {
	margin-bottom: 18px;
}
p {
	text-indent: 0;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
}
/*#source /Content/core/form.css */
/* -------------------------------------------------------------- 
  
   form.css
   * The default form style of the framework.
   * Source:
   * - Blueprint CSS Framework
   * Note:
   * - 
   
-------------------------------------------------------------- */

form {
	margin: 0;
	padding: 0;
}
fieldset {
	background: #eee;
	border: 1px solid #ddd;
	padding: 1em;
	margin: 0;
	margin-bottom: 16px;
}
form fieldset:last-child {
	margin-bottom: 0;
}
label, legend {
	color: #555;
}
label { /* display: block; */
}
legend {
	color: #000;
	font-weight: bold;
}
input, textarea, select {
	background: #fff;
	border: 1px solid #999;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	font-size: 1em;
	line-height: 1.8em;
	padding: 5px 9px;
	margin: 0;
	transition: border 0.2s linear 0.2s, box-shadow 0.2s linear 0.2s;
}
input:focus, textarea:focus, select:focus {
	border-color: #555;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(155, 155, 155, 0.6);
}
.select-wrapper {
	border: 1px solid #999;
}
.select-wrapper select {
	border: 0;
}
button, input[id=submit] {
	background: none;
	border: 0;
}
option {
	padding: 4px 4px 0;
}
option:after {
	content: ' —';
}
form fieldset div {
	padding: 0;
	margin: 0;
	margin-bottom: 12px;
}
form fieldset div:last-child {
	margin-bottom: 0;
}
.form-wrapper .row-wrapper {
	margin: 0 0 10px;
}
.form-wrapper .row-wrapper .col {
	float: left;
	width: 640px;
}
.form-wrapper .row-wrapper .col .label-wrapper {
	float: left;
	margin: 0;
	padding: 0;
	text-align: right;
	width: 90px;
}
.form-wrapper .row-wrapper .col .input-wrapper {
	float: right;
	width: 530px;
}
.form-wrapper .row-wrapper .col .label-wrapper .label {
	color: #555;
	font-size: 13px;
	line-height: 18px;
}
.form-wrapper .row-wrapper .col .label-wrapper .label .required {
	color: #f00;
	font-weight: bold;
}
.form-wrapper .row-wrapper .col .input-wrapper input.textbox, .form-wrapper .row-wrapper .col .input-wrapper textarea {
	width: 510px;
}
.form-wrapper .two-cols .col {
	width: 310px;
}
.form-wrapper .two-cols .right-col {
	float: right;
}
.form-wrapper .two-cols .col .input-wrapper {
	width: 200px;
}
.form-wrapper .two-cols .col .input-wrapper input.textbox, .form-wrapper .two-cols .col .input-wrapper textarea {
	width: 180px;
}
.form-wrapper .row-wrapper .col .input-wrapper label {
	margin-right: 10px;
}
.form-wrapper .row-wrapper .col .input-wrapper label span {
	padding-left: 5px;
	font-size: 11px;
	line-height: 18px;
}
.form-wrapper .submit-wrapper {
	padding-left: 110px;
	width: 530px;
}
.form-wrapper .submit-result {
	border: 1px solid #f00;
	box-shadow: 0 0 8px rgba(255, 0, 0, 0.2);
	margin-left: 110px;
	padding: 10px;
	width: 508px;
}
.form-wrapper .submit-result h4 {
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	margin-bottom: 9px;
	text-transform: uppercase;
}
.form-wrapper .submit-result p {
}
.form-wrapper .submit-result p:last-child, .form-wrapper .submit-result ul:last-child {
	margin-bottom: 0;
}
/*#source /Content/site.dev.css */
/* -------------------------------------------------------------- 
  
   style.css
   * The style of current site.
  
-------------------------------------------------------------- */
#dlding {
	position: fixed;
	background: black;
	padding: 10px 15px;
	color: white;
	opacity: .7;
	border-radius: 3px;
	z-index: 99999999;
	right: 0px;
	bottom: 0px;
	display: none;
}
body, input, button, option, textarea, label, legend, h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	text-decoration: none;
}
body {
	color: #333;
	font-size: 13px;
	line-height: 18px;
}
input, select, textarea, button {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
input[type="submit"], input[type="button"], button {
	cursor: pointer;
}
select option:after {
	content: none;
}
a:hover {
	color: #000;
	border: 0;
	text-decoration: none;
}
.box-sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.sticky {
	position: fixed;
	top: 0;
	z-index: 999;
}
.absolute {
	position: absolute;
	bottom: 0;
}
#site-wrapper {
}
#site-header {
	height: 65px;
}
.divshowlocation {
	display: none;
	color: red;
	float: left;
	font-size: 10px;
	position: absolute;
	z-index: 10;
	margin-top: 45px;
	margin-left: -40px;
}
#site-brand, #site-search, #user-zone {
	float: left;
	margin: 0;
	padding: 0;
	text-align: right;
}
#site-brand {
	margin: 0 20px 0 0;
	padding: 0;
}
#site-brand span, #site-brand span a {
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
}
#site-brand span {
	padding: 6px 0 0;
}
#site-brand span a {
	background-image: url(../images/sites/logo.png);
	background-repeat: no-repeat;
	height: 50px;
	width:100%
}
#site-brand h2 {
	float: left;
	height: 0;
	margin: 0;
}
#site-search {
	padding: 10px;
	height: 55px;
}

#user-zone a {
	color: #333;
	font-size: 12px;
	line-height: 10px;
	padding-left:10px;
}
#user-zone li:hover {
	background:#FCFEB4;
	border-radius:20px
}
#user-zone a:hover {
	color: #06F
}
#user-zone .user-location {
	background-image: url(../images/sites/icon-map-pin.png);
	background-position: left 4px;
	background-repeat: no-repeat;
	float: left;
	margin: 0;
	margin-top: 14px;
	padding: 0;
	padding-left: 15px;
	text-align: left;
	width: 125px;
}
#user-zone .user-location a.block {
	background-image: url(../images/sites/icon-arrow-down.png);
	background-position: right center;
	background-repeat: no-repeat;
	float: left;
	padding-right: 8px;
}

#user-zone .user-account-wrapper {
	float: left;
}
#user-zone .user-account-wrapper .user-avatar {
	float: left;
	margin-top: 10px
}
#user-zone .user-account-wrapper .user-avatar a.avatar img {
	border: 1px solid #efefef;
	border-radius: 5px;
}
#user-zone .user-account-wrapper .user-avatar .user-menu-wrapper .user-menu {
	background-color: #fff;
	border: 1px solid #ddd;
	/*padding: 15px 15px;*/
	padding: 10px 10px;
	position: absolute;
	/*z-index: 10000;*/
	z-index: 8000;
	text-align: left;
	border-radius:5px;
	min-width:170px;
}
.site-body {
	overflow: hidden;
	padding: 0;
}
.site-body .content-block-wrapper {
	margin: 0;
	margin-bottom: 8px;
	padding: 0;
}
.site-body .navigation-banner .navigation {
	float: left;
	width: 100%
}
.site-body .navigation-banner .navigation ul, .site-body .navigation-banner .navigation ul li, .site-body .navigation-banner .navigation ul li a {
	float: left;
}
.site-body .navigation-banner .navigation ul li a {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 13px;
	line-height: 15px;
	text-align: center;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
	transition: all 300ms ease 100ms;
	-webkit-transition: all 300ms ease 100ms;
}
.site-body .navigation-banner .navigation ul li a:hover {
	border-color: #555;
	box-shadow: 0 1px 25px rgba(0, 0, 0, 0.4) inset;
}
.site-body .navigation-banner .navigation ul {
}
.site-body .navigation-banner .navigation ul.last {
	margin-right: 0;
}
.site-body .navigation-banner .navigation ul li {
	margin-bottom: 2px;
}
.site-body .navigation-banner .navigation ul li.digital, .site-body .navigation-banner .navigation ul li.accessories {
	margin-bottom: 3px;
}
.site-body .navigation-banner .navigation ul li.last {
	margin-bottom: 0;
}
.site-body .navigation-banner .navigation .col1 li a {
	height: 90px;
	width: 100%;
	padding-top: 65px;
	border-right: solid 1px
}
.site-body .navigation-banner .navigation .col1 li:last-child a {
	border-right: none
}
.site-body .navigation-banner .navigation .col11 li a {
	height: 25px;
	width: 100%;
	border-right: solid 1px;
	padding-top: 5px;
}
.site-body .navigation-banner .navigation .col11 li:last-child a {
	border-right: none
}
.site-body .navigation-banner .navigation .col1 li.mobile a {
	background-color: #ff8a00;
	background-image: url(../images/sites/icon-mobile.png);
	background-position: center 9px;
}
.site-body .navigation-banner .navigation .col11 li.mobile a {
	background-color: #ff8a00;
}
.site-body .navigation-banner .navigation .col1 li a:hover {
	background-position: center 33px;
	padding-top: 9px;
}
.site-body .navigation-banner .navigation .col1 li.tablet a {
	background-color: #d9532d;
	background-image: url(../images/sites/icon-tablet.png);
	background-position: center 9px;
}
.site-body .navigation-banner .navigation .col11 li.tablet a {
	background-color: #d9532d;
}
.site-body .navigation-banner .navigation .col1 li.tablet a:hover {
	background-position: center 33px;
	padding-top: 9px;
}
.site-body .navigation-banner .navigation .col1 li.laptop a {
	background-color: #b61b43;
	background-image: url(../images/sites/icon-laptop.png);
	background-position: center 9px;
}
.site-body .navigation-banner .navigation .col11 li.laptop a {
	background-color: #b61b43;
}
.site-body .navigation-banner .navigation .col1 li.laptop a:hover {
	background-position: center 33px;
	padding-top: 9px;
}
.site-body .navigation-banner .navigation .col1 li.accessories a {
	background-color: #9f005d;
	background-image: url(../images/sites/icon-headphone.png);
	background-position: center 9px;
}
.site-body .navigation-banner .navigation .col11 li.accessories a {
	background-color: #9f005d;
}
.site-body .navigation-banner .navigation .col1 li.accessories a:hover {
	background-position: center 33px;
	padding-top: 9px;
}
.site-body .navigation-banner .navigation .col1 li.digital a {
	background-color: #0f63a3;
	background-image: url(../images/sites/icon-camera.png);
	background-position: center 9px;
}
.site-body .navigation-banner .navigation .col11 li.digital a {
	background-color: #0f63a3;
}
.site-body .navigation-banner .navigation .col1 li.digital a:hover {
	background-position: center 33px;
	padding-top: 9px;
}
.site-body .navigation-banner .navigation .col1 li {
	height: 90px;
	width: 12.5%
}
.site-body .navigation-banner .navigation .col11 li {
	width: 12.5%
}
.site-body .navigation-banner .navigation .col1 li a {
	background-color: #CC0099;
}
.site-body .navigation-banner .navigation .col11 li a {
	background-color: #CC0099;
}
.site-body .navigation-banner .navigation ul.col3 li a:hover {
	padding-top: 35px;
}
.site-body .navigation-banner .banner {
	background-color: #eee;
	float: right;
	height: 210px;
	width: 550px;
}
.site-body .navigation-banner .banner .banner-wrapper .arrow-wrapper {
	position: relative;
}
.site-body .navigation-banner .banner .banner-wrapper .arrow-wrapper .left-arrow, .site-body .navigation-banner .banner .banner-wrapper .arrow-wrapper .right-arrow {
	position: absolute;
	top: 83px;
	z-index: 1000;
}
.site-body .navigation-banner .banner .banner-wrapper .arrow-wrapper .left-arrow {
	left: 0px;
}
.site-body .navigation-banner .banner .banner-wrapper .arrow-wrapper .right-arrow {
	right: 0px;
}
.site-body .navigation-banner .banner .banner-wrapper .the-mask {
	height: 210px;
	overflow: hidden;
	position: relative;
	width: 540px;
}
.site-body .navigation-banner .banner .banner-wrapper .the-mask .mask-left, .site-body .navigation-banner .banner .banner-wrapper .the-mask .mask-right {
	background: #000;
	background: rgba(0, 0, 0, 0.8);
	display: none;
	height: 210px;
	position: absolute;
	top: 0;
	width: 95px;
	z-index: 100;
}
.site-body .navigation-banner .banner .banner-wrapper .the-mask .mask-right {
	right: 0;
}
.site-body .navigation-banner .banner .banner-wrapper .the-mask .image-wrapper {
	float: left;
	position: absolute;
	left: 0;
	top: 0; /*  width: 2680px; */
	z-index: 10;
}
.site-body .navigation-banner .banner .banner-wrapper .the-mask .image-wrapper .img {
	float: left;
	height: 210px;
	overflow: hidden;
	width: 540px;
}
/*
.site-body .navigation-banner .banner .banner-wrapper .image-wrapper { transition: all 300ms ease 100ms; -webkit-transition: all 300ms ease 100ms; margin-left: 0; width: 2680px; }
.site-body .navigation-banner .banner .banner-wrapper .image-wrapper .img { float: left; }
*/


.site-body .product-news .product-list-wrapper {
	float: left;
}
.site-body .product-news .product-list-wrapper .product-list {
	padding-top:5px
}
.site-body .product-news .product-list-wrapper .product-list li {
	border-top: 0;
	border-left: 0;
	float: left;
	height: 220px;
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
}

.site-body .product-news .product-list-wrapper .product-list li div.img {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
	height:55% !important; 
	max-height:55% !important; 
	padding-top:0
}
.site-body .product-news .product-list-wrapper .product-list li div.img img {
}
.site-body .product-news .product-list-wrapper .product-list li div.name {
	padding: 10px;
	position: absolute;
	vertical-align: bottom;
	bottom: 0;
	width: 100%;
}
.site-body .product-news .product-list-wrapper .product-list li div.name .status {
	color: #0876e6;
	display: block;
	font-size: 10px;
	font-weight: bold;
	line-height: 12px;
	text-transform: uppercase;
}
.site-body .product-news .product-list-wrapper .product-list li div.name .red {
	background: none;
	color: #b00;
}
.site-body .product-news .product-list-wrapper .product-list li div.name h3, .site-body .product-news .product-list-wrapper .product-list li div.name h3 a {
	color: #333;
	font-size: 14px;
	line-height: 18px;
	margin: 0;
	padding: 0;
	max-height: 43px;
    overflow: hidden;
}
.site-body .product-news .product-list-wrapper .product-list li div.name h3 {
	padding: 5px 10px 5px;
}
.site-body .product-news .product-list-wrapper .product-list li div.price-list {
	z-index: 10;
}
.site-body .product-news .product-list-wrapper .product-list li div.price-list .old-price {
	color: #666;
	font-size: 11px;
	height: 15px;
	line-height: 1em;
}
.site-body .product-news .product-list-wrapper .product-list li div.price-list .price, .site-body .product-news .product-list-wrapper .product-list li div.price-list .price .discount-note strong {
	color: #f00;
	font-size: 14px;
	font-weight: bold;
	line-height: 1em;
}
.site-body .product-news .product-list-wrapper .product-list li div.price-list .price .discount-note {
	color: #666;
	font-size: 11px;
	font-weight: normal;
	line-height: 14px;
}
.site-body .product-news .product-list-wrapper .product-list li .more-detail {
	background-color: #fff;
	display: block;
	left: 0;
	padding: 5px;
	position: absolute;
	top: 220px;
	width: 190px;
	z-index: 10000;
}
.site-body .product-news .product-list-wrapper .product-list li .more-detail h3 {
	padding-right: 10px;
	color: #666;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 5px;
	font-weight: bold;
	height: 20px;
	overflow: hidden
}
.site-body .product-news .product-list-wrapper .product-list li .more-detail .price-list {
	margin-bottom: 5px;
}
.site-body .product-news .product-list-wrapper .product-list li .more-detail .price-list cite, .site-body .product-news .product-list-wrapper .product-list li .more-detail .price-list del {
	float: left;
}
.site-body .product-news .product-list-wrapper .product-list li .more-detail .price-list cite {
	color: #f00;
	font-size: 14px;
	line-height: 18px;
	margin-right: 5px;
}
.site-body .product-news .product-list-wrapper .product-list li .more-detail .price-list del {
	color: #999;
	text-align: right;
}
.site-body .product-news .product-list-wrapper .product-list li .more-detail ul {
	margin-bottom: 5px;
}
.site-body .product-news .product-list-wrapper .product-list li .more-detail ul li {
	border: 0;
	color: #666;
	float: left;
	font-size: 12px;
	height: auto;
	line-height: 16px;
	margin: 0;
	padding: 0;
	width: 190px;
}
.site-body .product-news .product-list-wrapper .product-list li .more-detail ul li .label-wrapper {
	float: left;
	width: 70px;
}
.site-body .product-news .product-list-wrapper .product-list li .more-detail ul li .label-wrapper .label {
	float: left;
}
.site-body .product-news .product-list-wrapper .product-list li .more-detail ul li .label-wrapper .colon {
	float: right;
}
.site-body .product-news .product-list-wrapper .product-list li .more-detail ul li .value {
	float: left;
	padding-left: 5px;
	width: 105px;
}
.site-body .product-news .product-list-wrapper .product-list li .more-detail .promotion {
	padding-right: 5px;
	max-height: 30px;
	overflow: hidden;
	color: #f00;
	font-size: 12px;
	line-height: 15px;
	margin-bottom: 5px
}
.site-body .product-news .news-wrapper {
	float: right;
	margin: 0;
	padding: 0;
	text-align: left;
}
.site-body .product-news .news-wrapper .more-wrapper {
	margin: 0;
	padding: 0;
}
.site-body .product-news .news-wrapper .more-wrapper .title-wrapper h2 {
	background: rgba(0, 94, 253, 0.62);
	float: left;
	margin: 0 0 8px;
	padding: 2px 5px 3px;
	border-bottom-right-radius: 5px;
}
.site-body .product-news .news-wrapper .more-wrapper .title-wrapper h2, .site-body .product-news .news-wrapper .more-wrapper .title-wrapper h2 a {
	color: #fff;
	font-size: 14px;
	line-height: 18px;
}
.site-body .product-news .news-wrapper .more-wrapper .title-wrapper span.view-all {
	float: right;
	margin: 0;
	padding: 0;
	font-size: 13px;
}
.site-body .product-news .news-wrapper .more-wrapper .title-wrapper span.view-all a {
	color: #0a83c1;
	float: right;
	font-size: 13px;
	line-height: 1em;
	padding: 2px 0px;
}
.site-body .product-news .news-wrapper .more-wrapper .ads-list li {
	float: left;
	margin: 0 0 10px;
	padding: 0;
	width: 370px;
}
.site-body .product-news .news-wrapper .more-wrapper .ads-list li h3, .site-body .product-news .news-wrapper .more-wrapper .ads-list li h3 a, .site-body .product-news .news-wrapper .more-wrapper .ads-list li cite {
	font-size: 13px;
	float: left;
	line-height: 18px;
	margin: 0;
	padding: 0;
}
.site-body .product-news .news-wrapper .more-wrapper .ads-list li h3 a:hover {
	color: #000;
}
.site-body .product-news .news-wrapper .more-wrapper .ads-list li h3 {
	width: 270px;
}
.site-body .product-news .news-wrapper .more-wrapper .ads-list li cite {
	color: #f00;
	float: left;
	text-align: right;
	width: 29%;
}
.site-body .product-news .news-wrapper .more-wrapper .test {
	background: #000;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper {
	background-color: #e5e5e5;
	padding: 6px 10px;
	position: relative;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper .input-wrapper {
	background-color: #cbcbcb;
	border: 1px solid #cbcbcb;
	border-radius: 5px;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper .input-wrapper input {
	background-color: #fff;
	border: 0;
	border-radius: 5px;
	box-shadow: none;
	float: left;
	height: 30px;
	margin: 0;
	padding: 0 10px;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper .input-wrapper input.input {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	margin-right: 1px;
	width: 75%;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper .input-wrapper input.submit-button {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	width: 24%;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper .ads-form-wrapper {
	background-color: #fff;
	border: 5px solid #e5e5e5;
	border-radius: 8px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: -10px;
	width: 365px;
	z-index: 9991;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper .ads-form-wrapper .title {
	background-color: #e5e5e5;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper .ads-form-wrapper .title h2 {
	color: #222;
	float: left;
	font-size: 13px;
	line-height: 16px;
	margin: 0;
	padding: 8px 5px;
	text-transform: uppercase;
	width: 300px;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper .ads-form-wrapper .title a {
	background-image: url(../images/sites/icon-ads-form-close.png);
	background-position: 17px center;
	background-repeat: no-repeat;
	height: 20px;
	float: right;
	padding-bottom: 8px;
	width: 40px;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper .ads-form-wrapper .form-wrapper {
	padding: 5px;
	width: 355px;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper .ads-form-wrapper .form-wrapper .row-wrapper .label-wrapper {
	float: left;
	width: 100px;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper .ads-form-wrapper .form-wrapper .row-wrapper .label-wrapper label {
	background-color: #fff;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper .ads-form-wrapper .form-wrapper .row-wrapper .input-wrapper {
	background-color: #fff;
	border: 0;
	float: right;
	width: 250px;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper .ads-form-wrapper .form-wrapper .row-wrapper .input-wrapper input, .site-body .product-news .news-wrapper .create-ads-form-wrapper .ads-form-wrapper .form-wrapper .row-wrapper .input-wrapper select, .site-body .product-news .news-wrapper .create-ads-form-wrapper .ads-form-wrapper .form-wrapper .row-wrapper .input-wrapper textarea {
	border: 1px solid #ccc;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125) inset;
	color: #444;
	font-size: 13px;
	height: 28px;
	padding: 5px;
	width: 250px;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper .ads-form-wrapper .form-wrapper .row-wrapper .input-wrapper textarea {
	height: 70px;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper .ads-form-wrapper .form-wrapper .row-wrapper .col1 {
	float: left;
	width: 190px;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper .ads-form-wrapper .form-wrapper .row-wrapper .col2 {
	float: right;
	padding-left: 10px;
	width: 155px;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper .ads-form-wrapper .form-wrapper .row-wrapper .col1 .input-wrapper {
	float: right;
	width: 85px;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper .ads-form-wrapper .form-wrapper .row-wrapper .col1 .input-wrapper input {
	width: 98px;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper .ads-form-wrapper .form-wrapper .row-wrapper .col2 .label-wrapper {
	width: 40px;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper .ads-form-wrapper .form-wrapper .row-wrapper .col2 .input-wrapper {
	float: right;
	width: 110px;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper .ads-form-wrapper .form-wrapper .row-wrapper .col2 .input-wrapper input {
	width: 110px;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper .ads-form-wrapper .form-wrapper .row-wrapper .input-wrapper .submit-button {
	background-color: #e7e7e7;
	background-image: linear-gradient(top, #fff, #e7e7e7);
	background-image: -moz-linear-gradient(top, #fff, #e7e7e7);
	border-color: #ccc;
	border-radius: 5px;
	color: #666;
	float: left;
	font-size: 13px;
	height: 28px;
	line-height: 16px;
	padding: 0;
	width: 90px;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper .ads-form-wrapper .form-wrapper .row-wrapper .input-wrapper .note {
	color: #999;
	float: right;
	font-size: 11px;
	line-height: 16px;
	width: 150px;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper .ads-form-wrapper .form-wrapper .row-wrapper .input-wrapper .form-submit-button {
	background-color: #4298ef;
	background-image: linear-gradient(top, #79bbff, #4298ef);
	background-image: -moz-linear-gradient(top, #79bbff, #4298ef);
	border-color: #2d83da;
	color: #fff;
	float: right;
	font-size: 13px;
	height: 28px;
	line-height: 18px;
	padding: 0;
	text-shadow: -1px -1px #777;
	width: 84px;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper .ads-form-wrapper .form-wrapper .row-wrapper ul.preview-images {
	padding: 0 0 0 43px;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper .ads-form-wrapper .form-wrapper .row-wrapper ul.preview-images li {
	float: left;
	height: 48px;
	margin: 0;
	margin-right: 10px;
	position: relative;
	width: 48px;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper .ads-form-wrapper .form-wrapper .row-wrapper ul.preview-images li img {
	border: 1px solid #ddd;
	float: left;
	height: 46px;
	width: 46px;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper .ads-form-wrapper .form-wrapper .row-wrapper ul.preview-images li a.close-button {
	background-image: url(../images/sites/icon-remove-preview.png);
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	height: 16px;
	position: absolute;
	left: 38px;
	top: -5px;
	width: 16px;
	z-index: 100000;
}
.tit {
	position: absolute;
	padding-top: 15px;
	/* margin-top: -40px; */
	padding: 0px 10px;
	font-size: 14px;
	/* opacity: 0.5; */
	color: #fff;
	bottom: 0;
	background: url(../images/sites/tit.png);
	text-align:justify;
	width:100%
}
.tit:hover {
	color: #66CCFF
}
.site-body .product-news .news-wrapper .banner {
	position: relative;
	margin: 0 0 10px;
	padding: 0;
}
.site-body .product-news .news-wrapper .banner h2 {
	background: rgba(0, 94, 253, 0.53);
	float: left;
	font-size: 14px;
	line-height: 18px;
	margin: 0 0 8px;
	padding: 2px 9px 3px;
	position: absolute;
	z-index: 1000;
	border-bottom-right-radius: 5px
}
.site-body .product-news .news-wrapper .banner h2 a {
	color: #fff;
}
.site-body .product-news .news-wrapper .banner .banner-img {
	position: relative;
}
.site-body .product-news .news-wrapper .banner .banner-img .banner-description {
	background: #666;
	color: #fff;
	padding: 5px 10px;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.site-body .product-news .news-wrapper .banner .banner-img .banner-description a {
	color: #fff;
}
.site-body .product-news .news-wrapper .banner .banner-img .img-wrapper img {
	width: 370px;
}
.site-body .product-news .news-wrapper .news-list-wrapper {
}
.site-body .product-news .news-wrapper .news-list-wrapper .news-list {
	margin-bottom: 10px;
	padding-right:5px
}
.site-body .product-news .news-wrapper .news-list-wrapper .news-list li:last-child, .site-body .product-news .news-wrapper .news-list-wrapper .news-list li.last {
	border-bottom: 0;
	margin: 0;
	padding: 0;
}
.site-body .product-news .news-wrapper .news-list-wrapper .news-list li .news-avatar-wrapper {
	float: left;
	width: 25%;
	padding-top: 5px;
}
.site-body .product-news .news-wrapper .news-list-wrapper .news-list li .news-avatar-wrapper img {
	float: left;
	width: 100%;
}
.ads-list li a h3:hover {
	color: #F00
}
.news-teaser-wrapper:hover {
	color: #F00
}
{
 padding-top: 5px;
 text-align: justify;
 width: 76%;
}
.site-body .product-news .news-wrapper .news-list-wrapper .news-list li .news-teaser-wrapper .news-teaser a {
	color: #333;
	font-size: 13px;
	line-height: 18px;
}
.site-body .product-news .news-wrapper .news-list-wrapper .news-list li .news-teaser-wrapper .news-meta {
	color: #999;
	font-size: 11px;
	line-height: 16px;
}
.site-body .product-news .news-wrapper .news-list-wrapper .view-all {
	text-align: right;
}
.site-body .product-news .news-wrapper .news-list-wrapper .view-all a {
	color: #0a83c1;
	font-size: 13px;
	line-height: 1em;
	padding: 0;
	padding-right: 17px;
}
.site-body .breadcrumb {
	color: #666;
	font-size: 11px;
	line-height: 1em;
	margin: 0;
	padding: 0 0 10px;
}
.site-body .breadcrumb * {
	color: #666;
	font-size: 11px;
	margin: 0;
	padding: 0;
	display: inline-block;
	line-height: 1em;
}
.site-body .breadcrumb a, .site-body .breadcrumb span {
	font-size: 11px;
	line-height: 1em;
}
.site-body .breadcrumb a {
	color: #0072bc;
}
.site-body .breadcrumb a:hover {
	text-decoration: underline;
}
.site-body .breadcrumb span {
	color: #9c9c9c;
}
.site-body .main .with-border {
	background-color: #fff;
	border: 1px solid #e9e9e9;
}
.site-body .main .user-profile-wrapper {
	min-height: 713px;
}
.site-body .main .user-profile-wrapper .user-info-wrapper {
	background-color: #f7f7f7;
	padding: 10px 0;
}
.site-body .main .user-profile-wrapper .user-info-wrapper .user-avatar-wrapper {
	float: left;
	padding: 0 10px;
	width: 52px;
}
.site-body .main .user-profile-wrapper .user-info-wrapper .username-wrapper {
	float: left;
	width: 557px;
}
.site-body .main .user-profile-wrapper .user-info-wrapper .hotline-wrapper {
	float: left;
	padding-right: 10px;
	text-align: right;
	width: 240px;
}
.site-body .main .user-profile-wrapper .user-info-wrapper .username-wrapper h3 {
	color: #666;
	font-size: 18px;
	line-height: 1em;
	margin-bottom: 5px;
}
.site-body .main .user-profile-wrapper .user-info-wrapper .username-wrapper .rank, .site-body .main .user-profile-wrapper .user-info-wrapper .username-wrapper .point {
	font-size: 12px;
	line-height: 1em;
	margin-bottom: 5px;
}
.site-body .main .user-profile-wrapper .user-info-wrapper .username-wrapper .rank {
	color: #f60;
}
.site-body .main .user-profile-wrapper .user-info-wrapper .username-wrapper .point {
	color: #090;
}
.site-body .main .user-profile-wrapper .user-info-wrapper .hotline-wrapper span {
	background-image: url(../images/sites/icon-phone.png);
	background-position: left center;
	background-repeat: no-repeat;
	color: #f60;
	font-size: 14px;
	line-height: 20px;
	padding-left: 25px;
}
.site-body .main .user-profile-wrapper .user-tab-wrapper {
	background-color: #e2e2e2;
}
.site-body .main .user-profile-wrapper .user-tab-wrapper li {
	border-right: 1px solid #fff;
	float: left;
	margin: 00;
	padding: 0;
	position: relative;
}
.site-body .main .user-profile-wrapper .user-tab-wrapper li a {
	color: #666;
	float: left;
	font-size: 14px;
	line-height: 32px;
	padding: 0 20px;
}
.site-body .main .user-profile-wrapper .user-tab-wrapper li i {
	background-image: url(../images/sites/icon-arrow-down-yellow-14x8.png);
	background-position: center center;
	background-repeat: no-repeat;
	bottom: -8px;
	display: none;
	float: left;
	height: 8px;
	left: 46%;
	position: absolute;
	width: 14px;
	z-index: 10;
}
.site-body .main .user-profile-wrapper .user-tab-wrapper li a:hover, .site-body .main .user-profile-wrapper .user-tab-wrapper li.active a {
	background-color: #ffcc00;
	color: #333;
}
.site-body .main .user-profile-wrapper .user-tab-wrapper li.active i {
	display: block;
}
.site-body .main .user-profile-wrapper .user-info {
	padding: 15px 10px;
}
.site-body .main .user-profile-wrapper .user-info .row-wrapper {
	padding: 5px 0;
}
.site-body .main .user-profile-wrapper .user-info .odd {
	background-color: #f8f8f8;
}
.site-body .main .user-profile-wrapper .user-info .row-wrapper .label {
	float: left;
	font-size: 12px;
	font-weight: bold;
	line-height: 34px;
	padding: 0 10px;
	width: 190px;
}
.site-body .main .user-profile-wrapper .user-info .row-wrapper .input-wrapper {
	float: left;
	padding: 0 10px;
	width: 649px;
}
.site-body .main .user-profile-wrapper .user-info .row-wrapper .input-wrapper .input {
	border-color: #ccc;
	border-radius: 0;
	box-shadow: none;
	font-size: 12px;
	height: 32px;
	line-height: 32px;
	padding: 0 10px;
	width: 220px;
}
.site-body .main .user-profile-wrapper .user-info .row-wrapper .input-wrapper .radio, .site-body .main .user-profile-wrapper .user-info .row-wrapper .input-wrapper span, .site-body .main .user-profile-wrapper .user-info .row-wrapper .input-wrapper a {
	font-size: 12px;
	line-height: 32px;
	margin-right: 20px;
}
.site-body .main .user-profile-wrapper .user-info .row-wrapper .input-wrapper .radio, .site-body .main .user-profile-wrapper .user-info .row-wrapper .input-wrapper span {
	float: left;
}
.site-body .main .user-profile-wrapper .user-info .row-wrapper .input-wrapper .radio, .site-body .main .user-profile-wrapper .user-info .row-wrapper .input-wrapper img {
	margin-right: 5px;
}
.site-body .main .user-profile-wrapper .user-info .row-wrapper .input-wrapper a {
	color: #39f;
	text-decoration: underline;
}
.site-body .main .user-profile-wrapper .user-info .row-wrapper .input-wrapper .submit {
	background-color: #ccc;
	color: #000;
	font-size: 16px;
	height: 36px;
	line-height: 36px;
	width: 100px;
}
.site-body .main .user-profile-wrapper .user-info .row-wrapper .submit-wrapper {
	padding-top: 10px;
}
#site-footer a {
	text-decoration: none;
}
#site-footer a:hover {
	text-decoration: underline;
}
#site-footer .footer-link-wrapper .col {
	float: left;
}
#site-footer .footer-link-wrapper .col h3 {
	color: #333;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 5px;
}
#site-footer .footer-link-wrapper .col ul {
}
#site-footer .footer-link-wrapper .col ul li {
	color: #444;
	font-size: 11px;
	line-height: 16px;
	margin: 0 0 5px;
	padding: 0;
}
#site-footer .footer-link-wrapper .customer-support .table-wrapper {
	font-size: 11px;
	line-height: 24px;
	margin-bottom: 10px;
}
#site-footer .footer-link-wrapper .customer-support .table-wrapper .row-wrapper {
	height: 24px;
}
#site-footer .footer-link-wrapper .customer-support .table-wrapper .row-wrapper .col1, #site-footer .footer-link-wrapper .customer-support .table-wrapper .row-wrapper .col2, #site-footer .footer-link-wrapper .customer-support .table-wrapper .row-wrapper .col3 {
	float: left;
}
#site-footer .footer-link-wrapper .customer-support .table-wrapper .row-wrapper .col1, #site-footer .footer-link-wrapper .customer-support .table-wrapper .row-wrapper .col2 {
	width: 95px;
}
#site-footer .footer-link-wrapper .customer-support .table-wrapper .row-wrapper .col3 {
}
#site-footer .footer-link-wrapper .customer-support .table-wrapper .title-wrapper {
	font-size: 12px;
	font-weight: bold;
}
#site-footer .footer-link-wrapper .customer-support .note {
	margin-bottom: 5px;
}
#site-footer .footer-link-wrapper .promotion .voucher-wrapper {
	margin-bottom: 10px;
}
#site-footer .footer-link-wrapper .promotion .voucher-wrapper .img {
	float: left;
	width: 78px;
}
#site-footer .footer-link-wrapper .promotion .voucher-wrapper .content {
	float: right;
	width: 222px;
}
#site-footer .footer-link-wrapper .promotion .voucher-wrapper ul {
	height: 70px;
	overflow: hidden;
	margin: 0;
}
#site-footer .footer-link-wrapper .promotion .voucher-wrapper ul li {
	list-style: none;
}
#site-footer .footer-link-wrapper .promotion .voucher-wrapper .content h4 {
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
	margin-bottom: 0;
}
#site-footer .footer-link-wrapper .promotion .voucher-wrapper .content p {
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 0;
}
#site-footer .footer-link-wrapper .promotion .contact-wrapper .form-wrapper {
	border: 1px solid #ddd;
	width: 310px;
}
#site-footer .footer-link-wrapper .promotion .contact-wrapper .cite {
	margin-bottom: 5px;
}
#site-footer .footer-link-wrapper .promotion .contact-wrapper .form-wrapper .input, #site-footer .footer-link-wrapper .promotion .contact-wrapper .form-wrapper .submit-button {
	border: 0;
	border-radius: none;
	box-shadow: none;
	float: left;
	font-size: 11px;
	height: 28px;
	line-height: 28px;
	padding: 5px;
}
#site-footer .footer-link-wrapper .promotion .contact-wrapper .form-wrapper .input {
	width: 240px;
}
#site-footer .footer-link-wrapper .promotion .contact-wrapper .form-wrapper .submit-button {
	padding: 0 5px;
	text-align: right;
	text-transform: uppercase;
	width: 70px;
}
#site-footer .footer-link-wrapper .promotion .contact-wrapper .subscribe-header {
	text-decoration: none;
	color: white;
	background: url(../images/sites/newsletter-narrow-down.png) no-repeat #ff8a00;
	background-position: 310px;
	padding: 5px 10px 5px 5px;
	display: block;
	width: 310px;
}
#site-footer .footer-link-wrapper .promotion .contact-wrapper:hover .subscribe-header {
	background: url(../images/sites/newsletter-narrow-up.png) no-repeat #c65408;
	background-position: right;
	background-position: 310px;
}
#site-footer .footer-link-wrapper .promotion .contact-wrapper .subscribe-form {
	color: #fff;
	background-color: #ff8a00;
	padding: 5px;
	position: absolute;
	display: none;
	width: 315px;
	text-align: center;
	height: 170px;
}
#site-footer .footer-link-wrapper .promotion .contact-wrapper:hover .subscribe-form {
	display: block;
}
#site-footer .footer-link-wrapper .promotion .contact-wrapper:hover .subscribe-form ul li {
	color: white;
}
#site-footer .footer-link-wrapper .promotion .contact-wrapper .subscribe-form table {
	border: none;
	margin: 0 auto;
	height: 160px;
	text-align: left;
}
#site-footer .footer-link-wrapper .promotion .contact-wrapper .subscribe-form table input {
	border: none;
}
#site-footer .footer-link-wrapper .promotion .contact-wrapper .subscribe-form table td {
	border: none;
	text-align: left;
}
#site-footer .copyright {
	font-size: 11px;
	line-height: 16px;
	margin-top: 5px;
	text-align:center
}
#site-footer .footer-banner {
	margin-bottom: 10px;
	text-align: center;
}
#site-footer .footer-banner a {
	margin: 0 2px;
	height: 25px;
	display: inline-block;
	float: right
}
#site-footer .footer-banner a img {
	float: right
}
#site-footer .footer-banner span {
	float: left;
	display: inline-block;
	font-size: 15px
}
#site-footer .facebook-button {
	text-align: center;
}
.footer-link-wrapper {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
#site-footer .footer-navigation-wrapper ul li {
	background-image: url(../images/sites/icon-arrow-right.png);
	background-position: left 6px;
	background-repeat: no-repeat;
	float: left;
	margin-right: 10px;
	padding: 0;
	padding-left: 7px;
	list-style: none !important;
}
#site-footer .footer-navigation-wrapper ul li a {
	color: #888;
	font-size: 12px;
	line-height: 16px;
}
.splash-wrapper {
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	height: 100%;
	position: absolute;
	top: 0;
	width: 1160px;
	z-index: 1000000;
}
.splash-wrapper .check-province-wrapper {
	background-image: url(../images/sites/bg-check-province.png);
	background-repeat: no-repeat;
	height: 280px;
	margin: 100px auto 0;
	padding: 74px 0 0;
	width: 550px;
}
.splash-wrapper .check-province-wrapper .form {
	margin: 0 auto;
	width: 410px;
}
.splash-wrapper .check-province-wrapper .form .selectbox-wrapper {
	margin-bottom: 20px;
}
.splash-wrapper .check-province-wrapper .form .input-wrapper select {
	border-color: #cdcdcd;
	box-shadow: 0 1px 1px #dedede inset;
	font-size: 15px;
	line-height: 24px;
	padding: 5px;
	width: 410px;
}
.splash-wrapper .check-province-wrapper .form .note {
	color: #666;
	margin-bottom: 20px;
}
.splash-wrapper .check-province-wrapper .form .note a {
	color: #0b58c2;
}
.splash-wrapper .check-province-wrapper .form .note a:hover {
	text-decoration: underline;
}
.splash-wrapper .check-province-wrapper .form .input-wrapper input.submit-button {
	background-color: #f8a235;
	background-image: linear-gradient(top, #f8a235, #f47715);
	background-image: -moz-linear-gradient(top, #f8a235, #f47715);
	border-color: #ec891d;
	color: #fff;
	display: block;
	font-size: 18px;
	height: 38px;
	line-height: 1em;
	margin: 0 auto;
	padding: 0 5px;
	text-transform: uppercase;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
	width: 116px;
}
#login-form-wrapper {
	position: absolute;
	width: 100%;
	z-index: 2;
}
#login-form-wrapper #login-form {
	color: #666666;
	margin: 0 auto;
	width: 440px;
}
#login-form-wrapper #login-form .heading {
	background-color: #000;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	height: 46px;
}
#login-form-wrapper #login-form .heading .logo h1 {
	font-size: 18px;
	line-height: 18px;
	margin: 0;
}
#login-form-wrapper #login-form .heading .logo a {
	display: block;
	padding: 6px 20px 0;
	width: 400px;
}
#login-form-wrapper #login-form .heading .logo a:hover {
	background-image: url(../images/sites/login-back-to-home.png);
	background-position: 218px 16px;
	background-repeat: no-repeat;
}
#login-form-wrapper #login-form .the-form {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #fff;
	padding: 20px;
}
#login-form-wrapper #login-form .the-form h2 {
	font-size: 24px;
	line-height: 1em;
	margin-bottom: 10px;
	text-align: center;
}
#login-form-wrapper #login-form .the-form .row-wrapper {
	margin-bottom: 10px;
}
#login-form-wrapper #login-form .the-form .row-wrapper .label {
	float: left;
	width: 95px;
}
#login-form-wrapper #login-form .the-form .row-wrapper .label span.required {
	color: #f00;
}
#login-form-wrapper #login-form .the-form .row-wrapper .input {
	float: right;
	width: 295px;
}
#login-form-wrapper #login-form .the-form .row-wrapper .input input {
	border-color: #ccc;
	border-radius: 0;
	box-shadow: none;
	color: #666;
	font-size: 13px;
	height: 28px;
	line-height: 28px;
	padding: 0 5px;
	width: 295px;
}
#login-form-wrapper #login-form .the-form .row-wrapper .input input.checkbox {
	float: left;
	line-height: 18px;
	height: 18px;
	margin-right: 5px;
	width: auto;
}
#login-form-wrapper #login-form .the-form .row-wrapper .input label {
	float: left;
	line-height: 18px;
	height: 18px;
}
#login-form-wrapper #login-form .the-form .row-wrapper .input input.submit {
	background-color: #ff7d00;
	border: 1px solid #ff7d00;
	box-shadow: 0 1px #fc9c47 inset;
	color: #fff;
	height: 42px;
	text-align: center;
	text-shadow: 1px -1px #e85d00;
	text-transform: uppercase;
}
#login-form-wrapper #login-form .the-form .row-wrapper a {
	color: #0072bc;
}
#login-form-wrapper #login-form .the-form .row-wrapper .full-width a {
	background-color: #eee;
	display: block;
	font-size: 13px;
	line-height: 28px;
	height: 28px;
	margin-bottom: 10px;
	text-align: center;
}
#login-form-wrapper #login-form .the-form .row-wrapper .register {
	text-align: center;
}
#login-form-wrapper #login-form .the-form .last {
	margin-bottom: 0;
}
#login-form-wrapper #login-form #login-error {
	background-color: #fefdd4;
	color: #222;
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 10px;
	padding: 10px 20px;
	width: 400px;
}
#login-form-wrapper #login-form #login-error p {
	margin-bottom: 10px;
}
#login-form-wrapper #login-form #login-error ol li {
	list-style-position: inside;
	margin: 0;
	margin-bottom: 0;
}
.splash-wrapper {
	width: 100%;
}


.site-body .navigation-banner .banner, .site-body .navigation-banner .banner .banner-wrapper .the-mask {
	width: 730px;
}
.site-body .navigation-banner .banner .banner-wrapper .the-mask .mask-left, .site-body .navigation-banner .banner .banner-wrapper .the-mask .mask-right {
	display: block;
}
.site-body .navigation-banner .banner .banner-wrapper .the-mask .image-wrapper {
	left: 95px;
}
.site-body .main .user-profile-wrapper .user-info-wrapper .username-wrapper {
	width: 797px;
}
.site-body .main .user-profile-wrapper .user-info .row-wrapper .input-wrapper {
	width: 829px;
}
/* CSS sau khi đổi size và optimized */
.site-body .product-news .news-wrapper .more-wrapper .ads-list li {
	width: 100%;
}
.site-body .product-news .news-wrapper .more-wrapper .ads-list li h3 {
	width: 70%;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper {
	width: 330px;
}
.site-body .product-news .news-wrapper .banner .banner-img .banner-description {
	width: 330px;
}
.site-body .product-news .news-wrapper .news-list-wrapper .news-list li .news-teaser-wrapper {
	max-height: 45px;
	text-align: justify;
	float: right;
	width: 72%;
	overflow: hidden;
	padding-top: 10px;
	font-weight: 600;
}
#site-footer .footer-link-wrapper .promotion .voucher-wrapper .content {
	float: right;
	width: 312px;
}
.site-body .product-news .news-wrapper .create-ads-form-wrapper .ads-form-wrapper .form-wrapper .row-wrapper .label-wrapper {
	float: left;
	width: 103px;
}
.require-field {
	color: red;
	font-size: 10px;
}
.site-body .breadcrumb {
	color: #666;
	font-size: 11px;
	line-height: 1em;
	margin: 0;
	padding: 0 0 10px;
	width: 100%;
	float: left;
	text-align: left;
}
.site-body .breadcrumb h1 {
	display: inline;
	font-size: 11px;
	line-height: normal;
}
.site-body .breadcrumb a, .site-body .breadcrumb span {
	font-size: 11px;
	line-height: 1em;
}
.site-body .breadcrumb a {
	color: #0072bc;
}
.site-body .breadcrumb a:hover {
	text-decoration: underline;
}
.site-body .breadcrumb span {
	color: #9c9c9c;
}
.site-body .product-news .product-list-wrapper .product-list li div.img img {
	height:100%
}
#site-footer .footer-navigation-wrapper .nolist {
	margin-left: -27px;
	padding: 0;
}
/*Login Home*/
#user-zone .user-account-wrapper .user-avatar .user-menu-wrapper {
	display: none;
	position: relative;
}
#user-zone .user-account-wrapper .user-avatar .user-menu-wrapper .callout {
	background-image: url(../images/sites/icon-callout-up.png);
	float: left;
	height: 4px;
	left: 10px;
	position: absolute;
	top: -3px;
	width: 10px;
	/*z-index: 10001;*/
	z-index: 8000;
}

#user-zone .user-account-wrapper .user-avatar .user-menu-wrapper .user-menu .input-wrapper, #user-zone .user-account-wrapper .user-avatar .user-menu-wrapper .user-menu .note-wrapper {
	margin-bottom: 5px;
}
#user-zone .user-account-wrapper .user-avatar .user-menu-wrapper .user-menu .note-wrapper .remember-password-wrapper .checkbox, #user-zone .user-account-wrapper .user-avatar .user-menu-wrapper .user-menu .note-wrapper .remember-password-wrapper label {
	font-size: 11px;
	height: 11px;
	line-height: 11px;
}
#user-zone .user-account-wrapper .user-avatar .user-menu-wrapper .user-menu .input-wrapper input:focus {
	box-shadow: none;
}
#user-zone .user-account-wrapper .user-avatar .user-menu-wrapper .user-menu .note-wrapper {
	color: #666;
	font-size: 11px;
	line-height: 16px;
}
#user-zone .user-account-wrapper .user-avatar .user-menu-wrapper .user-menu .align-center {
	text-align: center;
}
#user-zone .user-account-wrapper .user-avatar .user-menu-wrapper .user-menu .note-wrapper a {
	color: #0b58c2;
	font-size: 11px;
	line-height: 16px;
	text-decoration: underline;
}
#user-zone .user-account-wrapper .user-avatar .user-menu-wrapper .user-menu .input-wrapper input.button {
	background-color: #f60;
	border: 0;
	color: #fff;
	width: 130px;
}
#user-zone .user-account-wrapper .user-avatar .user-menu-wrapper .user-menu .nonborder-top {
	margin-bottom: 0;
}
#user-zone .user-account-wrapper .user-avatar .user-menu-wrapper .user-menu .note-wrapper .user-links li {
	margin-bottom: 5px;
	padding: 2px 3px 2px 3px;
	width: 95%;
	font-size: 12px;
}
#user-zone .user-account-wrapper .user-avatar .user-menu-wrapper .user-menu .note-wrapper .user-links li:hover {
	width: 99%;
	background: #FF7C00;
	cursor: pointer;
	color: #FFF;
	font-size: 12px;
}
#user-zone .user-account-wrapper .user-avatar .user-menu-wrapper .user-menu .note-wrapper .user-links li:last-child {
	margin-bottom: 0;
}
#user-zone .user-account-wrapper .user-avatar .user-menu-wrapper .user-menu .note-wrapper .user-links li a {
	color: #666;
	font-size: 12px;
	line-height: 16px;
	text-decoration: none;
	padding: 3px 3px 10px 3px;
	width: 100%;
}
#user-zone .user-account-wrapper .user-avatar .user-menu-wrapper .user-menu .note-wrapper .user-links li a:hover {
	/*text-decoration: underline;*/
	color: #FFF;
	text-decoration: none;
	line-height: 16px;
	padding: 3px 3px 10px 3px;
}
#user-zone .user-account-wrapper .user-account {
	/* float: right;
    padding-top: 11px;
   text-align:left;
       */
    /* float: right;*/
	float: left;
	padding-top: 10px;
	margin-top: 14px;
	line-height: 15px;
	text-align: left;
}
#user-zone .user-account-wrapper .user-accountnotlogin {
	float: right;
	padding-top: 10px;
	margin-top: 14px;
	line-height: 15px;
	text-align: center;
}
#user-zone .user-account-wrapper .user-avatar .user-menu-wrapper .user-menu .note-wrapper .user-links li .userinfo {
	float: left;
	height: 30px;
	font-size: 11px;
	width: 100%;
	background: #FFF;
}
#user-zone .user-account-wrapper .user-avatar .user-menu-wrapper .user-menu .note-wrapper .user-links li .userinfo:hover {
	color: #666;
	background: #FFF;
	font-size: 11px;
}
/*Login Home end*/

.input-wrapper .hide {
	display: none;
}
.input-wrapper span.error {
	color: red;
	font-size: 12px;
	float: left;
	width: 100%;
	line-height: 20px;
}
.spanpass {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}


/*#source /Content/login.css */
#login-form-wrapper {
	position: absolute;
	width: 100%;
	z-index: 2;
}
#login-form-wrapper #login-form {
	color: #666666;
	margin: 0 auto;
	width: 440px;
}
#login-form-wrapper #login-form .heading {
	background-color: #000;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	height: 46px;
}
#login-form-wrapper #login-form .heading .logo h1 {
	font-size: 18px;
	line-height: 18px;
	margin: 0;
}
#login-form-wrapper #login-form .heading .logo a {
	display: block;
	padding: 6px 20px 0;
	width: 400px;
}
#login-form-wrapper #login-form .heading .logo a:hover {
	background-image: url(../images/sites/login-back-to-home.png);
	background-position: 218px 16px;
	background-repeat: no-repeat;
}
#login-form-wrapper #login-form .the-form {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #fff;
	padding: 20px;
}
#login-form-wrapper #login-form .the-form h2 {
	font-size: 24px;
	line-height: 1em;
	margin-bottom: 10px;
	text-align: center;
}
#login-form-wrapper #login-form .the-form .row-wrapper {
	margin-bottom: 10px;
}
#login-form-wrapper #login-form .the-form .row-wrapper .label {
	float: left;
	width: 95px;
}
#login-form-wrapper #login-form .the-form .row-wrapper .label span.required {
	color: #f00;
}
#login-form-wrapper #login-form .the-form .row-wrapper .input {
	float: right;
	width: 295px;
}
#login-form-wrapper #login-form .the-form .row-wrapper .input input {
	border-color: #ccc;
	border-radius: 0;
	box-shadow: none;
	color: #666;
	font-size: 13px;
	height: 28px;
	line-height: 28px;
	padding: 0 5px;
	width: 295px;
}
#login-form-wrapper #login-form .the-form .row-wrapper .input input.checkbox {
	float: left;
	line-height: 18px;
	height: 18px;
	margin-right: 5px;
	width: auto;
}
#login-form-wrapper #login-form .the-form .row-wrapper .input label {
	float: left;
	line-height: 18px;
	height: 18px;
}
#login-form-wrapper #login-form .the-form .row-wrapper .input input.submit {
	background-color: #ff7d00;
	border: 1px solid #ff7d00;
	box-shadow: 0 1px #fc9c47 inset;
	color: #fff;
	height: 42px;
	text-align: center;
	text-shadow: 1px -1px #e85d00;
	text-transform: uppercase;
}
#login-form-wrapper #login-form .the-form .row-wrapper a {
	color: #0072bc;
}
#login-form-wrapper #login-form .the-form .row-wrapper .full-width a {
	background-color: #eee;
	display: block;
	font-size: 13px;
	line-height: 28px;
	height: 28px;
	margin-bottom: 10px;
	text-align: center;
}
#login-form-wrapper #login-form .the-form .row-wrapper .register {
	text-align: center;
}
#login-form-wrapper #login-form .the-form .last {
	margin-bottom: 0;
}
#login-form-wrapper #login-form #login-error {
	background-color: #fefdd4;
	color: #222;
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 10px;
	padding: 10px 20px;
	width: 400px;
}
#login-form-wrapper #login-form #login-error p {
	margin-bottom: 10px;
}
#login-form-wrapper #login-form #login-error ol li {
	list-style-position: inside;
	margin: 0;
	margin-bottom: 0;
}
#user-zone .user-account-wrapper .user-avatar .user-menu-wrapper .user-menu .note-wrapper .remember-password-wrapper .checkbox, #user-zone .user-account-wrapper .user-avatar .user-menu-wrapper .user-menu .note-wrapper .remember-password-wrapper label {
	font-size: 11px;
	height: 11px;
	line-height: 11px;
}
.input-wrapper span.error {
	color: red;
	font-size: 12px;
	float: left;
	width: 100%;
	line-height: 20px;
}
#user-zone .user-account-wrapper .user-avatar .user-menu-wrapper .callout {
	background-image: url(../images/sites/icon-callout-up.png);
	float: left;
	height: 4px;
	left: 10px;
	position: absolute;
	top: -3px;
	width: 10px;
	/*z-index: 10001;*/
	z-index: 8000;
}
#user-zone {
	position:absolute; 
	right:3px
}

@media (min-width: 768px) {
	.product-list-wrapper {
		padding-left:0;
	}
}
@media (max-width: 5000px){
	iframe {
		height:600px !important
	}
}
@media (max-width: 991px){
	#site-search {
		padding-left:0;
		padding-right:0
	}
	iframe {
		height:400px !important
	}
	.product-list-wrapper {
		padding-left:0;
		padding-right:0;
	}
	.container {
		width:100%
	}
	#user-zone {
		top:-8px; 
	}
}
@media (max-width: 425px){
	iframe {
		height:200px !important
	}
}

.navbar-default {
	border: none;
	border-top: 1px solid #fff;
	background:#16d4e3;
}
.navbar {
	margin-bottom:0px
}
.logo-xs {
	background:#16d4e3;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color:#FFF
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover,  {
	color:#fff;
	background:#67f5f7;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #fff;
    background-color: #65eaec;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border:none	
}
.navbar-nav>li>.dropdown-menu {
    background: #67f5f7;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
	border:none
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background:#65eaec;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
}

/*	phân trang	*/
.active {
	background:#0066ff;
	color:#fff !important;
	border:none
}
div.trang a{
	padding:3px;
	border:1px solid #0066ff;
	margin:3px;
	text-decoration:none;
	border-radius:2px; 
	text-align:center
}


/*	tài khoản	*/
.taikhoan {
	font-size:20px; 
	text-align:center
}
.taikhoan input{
	margin-bottom:10px; 
	width:100%;
	padding:5px;
	height:35px;
	font-size:15px
}
.g-recaptcha div {
	width:100% !important	
}