<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageServlet</servlet-name>
        <servlet-class>controller.PageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>controller.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CompareServlet</servlet-name>
        <servlet-class>controller.CompareServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompareServlet</servlet-name>
        <url-pattern>/CompareServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SanPhamServlet</servlet-name>
        <servlet-class>controller.SanPhamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SanPhamServlet</servlet-name>
        <url-pattern>/SanPhamServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BaiVietServlet</servlet-name>
        <servlet-class>controller.BaiVietServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BaiVietServlet</servlet-name>
        <url-pattern>/BaiVietServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VideoServlet</servlet-name>
        <servlet-class>controller.VideoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VideoServlet</servlet-name>
        <url-pattern>/VideoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HinhAnhServlet</servlet-name>
        <servlet-class>controller.HinhAnhServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HinhAnhServlet</servlet-name>
        <url-pattern>/HinhAnhServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DonHangServlet</servlet-name>
        <servlet-class>controller.DonHangServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DonHangServlet</servlet-name>
        <url-pattern>/DonHangServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageServlet</servlet-name>
        <url-pattern>/PageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            PageServlet
        </welcome-file>
    </welcome-file-list>
</web-app>
